* {
    box-sizing: border-box;
    border: 1px solid red; 
    margin: 0 auto;
}

body {
    text-align: center;
}

div {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    max-width: fit-content;
}

.cross {
    background-image: url(./png-clipart-black-x-mark-tic-tac-toe-oxo-holiday-tic-tac-toe-game-blue-cross-miscellaneous-angle.png);
    background-size: cover;
}

.nought {
    background-image: url(./download.png);
    background-size: cover;
}