* {
    /* box-sizing: border-box;
    border: 1px solid red;  */
    margin: 0 auto;
}

body {
    text-align: center;
}

main {
    max-width: fit-content;
}

div {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    margin-top: 20px;
}

.cross {
    background-image: url(./png-clipart-black-x-mark-tic-tac-toe-oxo-holiday-tic-tac-toe-game-blue-cross-miscellaneous-angle.png);
    background-size: cover;
}

.nought {
    background-image: url(./download.png);
    background-size: cover;
}

#restart {
    margin: 30px auto;
}

ul {
    display: flex;
    padding-left: 0px;
    margin-top: 10px;
}

li {
    list-style: none;
}